@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../Videos/red.jpg');
  background-size: cover;
  height: 80vh;
}

.extimate_button{
  height: 40px;
  width: 200px;
  font-size: 20px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffff;
  color: black;
  border: none;
  margin-right: 10px;
}

.extimate_button:hover{
background-color: grey;
color: #ffff;
}
.view:hover{
background-color: grey;
color: #ffff;
}

.view{
  height: 40px;
  font-size: 20px;
  width: 200px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffff;
  color: black;
  border: none;
  margin-left: 10px;
}

.title {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
